
.NameSlider-Div0 {
	padding: 20px 10px 25px 4px;
}

.NameSlider-Div1 {
	margin-left: 6px;
}

.NamedDropdown-Div00 {
	margin: 10px 0px;
}

.NamedDropdown-P00 {
	margin-left: 3px;
}

.NamedRadioItems-Div0 {
	padding: 20px 10px 25px 4px;
}

.NamedRadioItems-Tooltip0 {
	font-size: 16;
}